{
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": true
      }
    ],
    [
      "@babel/plugin-transform-regenerator",
      {
        "async": false
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "presets": [],
  "env": {
    "production": {
      "plugins": ["lodash"],
      "presets": [
        [
          "@babel/env",
          {
            "modules": false,
            "targets": {
              "node": 4,
              "browsers": [">0.25%", "IE >= 11", "not op_mini all"]
            },
            "forceAllTransforms": true,
            "useBuiltIns": "entry"
          }
        ]
      ]
    },
    "test": {
      "plugins": [],
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "browsers": [">0.25%", "IE >= 11", "not op_mini all"]
            },
            "useBuiltIns": "entry"
          }
        ]
      ]
    }
  }
}
