{
  "presets": [
    ["es2015", {"modules": false}]
  ],
  "env": {
    "production": {
      "plugins": [
        "lodash"
      ]
      , "presets": [
        ["env", {
          modules: "umd",
          "targets": {
              "node": 4,
              "browsers": [
                "last 2 versions",
                "chrome >= 55",
                "IE >= 11"
              ]
            }
        }]
        , "babili"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            modules: "umd",
            "targets": {
              "browsers": [
                "last 2 versions",
                "chrome >= 55",
                "IE >= 11"
              ]
            }
          }
        ]
      ],
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "**/*_spec.js"
            ]
          }
        ],
        "rewire"
      ]
    }
  }
}