{
  "presets": [],
  "env": {
    "production": {
      "plugins": [
        "lodash",
        "add-module-exports"
      ],
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "node": 4,
              "browsers": [
                ">0.25%",
                "IE >= 11",
                "not op_mini all"
              ],
              "uglify": true
            },
            "useBuiltIns": true
          }
        ],
        "minify"
      ]
    },
    "test": {
      "plugins": [
        "rewire"
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                ">0.25%",
                "IE >= 11",
                "not op_mini all"
              ]
            },
            "useBuiltIns": true
          }
        ]
      ]
    }
  }
}